<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../static/images/logo.png" th:href="@{/images/logo.png}" type="image/x-icon">
    <title>Rocket Forum | About</title>
</head>
<body>
<section class="sub-header">
    <nav>
        <div class="forum-name">
            <h2>Rocket</h2>
            <h2>Team</h2>
            <h2>Forum</h2>
        </div>
        <a href=HomeView.html th:href="@{/}"><img src="../static/images/logo.png" th:src="@{/images/logo.png}"
                                                  alt="logo"></a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="HomeView.html" th:href="@{/}" th:text="#{navigation.home}">Home</a></li>
                <li><a href="About.html" th:href="@{/about}">About</a></li>
                <li><a href="PostsView" th:href="@{/posts}" th:text="#{navigation.posts}">Posts</a></li>
                <li><a href="contact.html" th:href="@{/users}">Users</a></li>
                <li><a href="RegisterFormView.html" th:href="@{/users/new}" th:unless="${isAuthenticated}">Register</a></li>
                <li><a href="CreatePostView.html" th:href="@{/posts/new}" th:if="${isAuthenticated}">Create Post</a></li>
                <li><a href="" th:unless="${isAuthenticated}" th:href="@{/auth/login}">Sign In</a>
                <li><a href="#" th:href="@{/auth/logout}" th:if="${isAuthenticated}">Log Out</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>

<!--    <h1>About Us</h1>-->
</section>

<section class="about-us">
    <div class="container">
        <h1>Rocket Team Forum - where great ideas meet everyday problems, coffee and cats</h1>
        <p>The forum's quirky combination of topics reflected the diverse interests of its members, making it a place
            where creativity and collaboration thrived. Whether you were seeking advice on building a rocket engine,
            troubleshooting a household problem, discovering the nuances of coffee brewing, or simply enjoying the
            companionship of fellow cat lovers, the Rocket Team Forum had something for everyone.<br><br>
            As the community continue to expand, it remains a testament to the power of human connection and the ability
            of diverse passions to come together in a spirit of shared enthusiasm. The Rocket Team Forum is not just a
            place to discuss ideas and solve problems; it is a digital oasis where people from different walks of life
            found common ground and camaraderie, all while sipping coffee and enjoying the company of their beloved
            cats.<br><br>
            With each new day, the forum buzzed with activity, as great ideas met everyday problems, coffee cups were
            raised in virtual toasts, and cats continued to reign supreme as the unofficial mascots of this unique and
            welcoming online haven.<br><br>
        </p>
        <img class="rocket-cat" src="../static/images/about.jpg" th:src="@{/images/about.jpg}" alt="about">
        <a href="#" class="hero-btn black-border">EXPLORE NOW</a>
    </div>
</section>


<section class="footer">
    <h4>About Us</h4>
    <p>Copyright &copy 2023 Team Rocket</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
</section>

<!--JavaScript for toggle menu-->
<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu() {
        navLinks.style.right = "0";
    }

    function hideMenu() {
        navLinks.style.right = "-200px";
    }
</script>
</body>
</html>