<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../static/images/logo.png" th:href="@{/images/logo.png}" type="image/x-icon">
    <title>Rocket Forum | About</title>
</head>
<body>
<section class="sub-header">
    <nav>
        <div class="forum-name">
            <h2>Rocket</h2>
            <h2>Team</h2>
            <h2>Forum</h2>
        </div>
        <a href=HomeView.html th:href="@{/}"><img src="../static/images/logo.png" th:src="@{/images/logo.png}"
                                                  alt="logo"></a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="HomeView.html" th:href="@{/}" th:text="#{navigation.home}">Home</a></li>
                <li><a href="About.html" th:href="@{/about}">About</a></li>
                <li><a href="PostsView" th:href="@{/posts}" th:text="#{navigation.posts}">Posts</a></li>
                <li><a href="contact.html" th:href="@{/users}">Users</a></li>
                <li><a href="RegisterFormView.html" th:href="@{/users/new}" th:unless="${isAuthenticated}">Register</a></li>
                <li><a href="CreatePostView.html" th:href="@{/posts/new}" th:if="${isAuthenticated}">Create Post</a></li>
                <li><a href="" th:unless="${isAuthenticated}" th:href="@{/login}">Sign In</a>
                <li><a href="#" th:href="@{/logout}" th:if="${isAuthenticated}">Log Out</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>

    <h1>Our Team</h1>
</section>

<section class="contacts">
    <div class="contacts-container">
        <h1>This marvel of the internet is brought to you by:</h1>
        <div class="bobi-pic"></div>
        <div class="niki-pic"></div>
        <div class="stoyan-pic"></div>
        <div class="bobi-info">
            <h3>Boris Neykov</h3>
            <ul>
                <li><i class="fa fa-envelope-open"> bobineikov@gmail.com</i></li>
                <li><i class="fa fa-github"></i> https://github.com/BorisNeykov1202</li>
            </ul>
        </div>
        <div class="niki-info">
            <h3>Nikolay Yordanov</h3>
            <ul>
                <li><i class="fa fa-envelope-open"  > yordanoff.nikolay@gmail.com</i></li>
                <li><i class="fa fa-github"></i> https://github.com/YordanoffNikolay</li>
            </ul>
        </div>
        <div class="stoyan-info">
            <h3>Stoyan Dimitrov</h3>
            <ul>
                <li><i class="fa fa-envelope-open"> stoyan.goshev.dimitrov@gmail.com</i></li>
                <li><i class="fa fa-github"></i> https://github.com/StoyanGD</li>
            </ul>
        </div>
    </div>
</section>


<section class="footer">
    <h4>About Us</h4>
    <a href="#" th:href="@{/contacts}" class="hero-btn black-border" style="margin-bottom: 20px;">Contacts</a>
    <p>Copyright &copy 2023 Team Rocket</p>
</section>

<!--JavaScript for toggle menu-->
<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu() {
        navLinks.style.right = "0";
    }

    function hideMenu() {
        navLinks.style.right = "-200px";
    }
</script>
</body>
</html>