<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forum | Login</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <form th:replace="~{HomeView.html :: header}"></form>
<body class="login">
<div class="form">
    <h4 th:text="#{login}">Login</h4>
    <div class="login">
        <input type="text" src="../static/images/user.png" th:src="@{/images/user.png}" placeholder="Username">
        <input type="password" src="../static/images/password.png" th:src="@{/images/password.png}" placeholder="Password">
        <button th:text="#{sign.in}">Sign In</button>
        <div class="suggest">
            <div class="remember">
            <input type="checkbox" checked>
            <span th:text="#{remember.me}">Remember Me</span>
            </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../static/js/script.js" th:src="@{/js/script.js}"></script>
</body>
</html>