<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../static/images/logo.png" th:href="@{/images/logo.png}" type="image/x-icon">
    <title>Rocket Forum | Login</title>
    <!--<body class="login">-->
<body id="home-body">
<section class="sub-header">
    <nav>
        <div class="forum-name">
            <h2>Rocket</h2>
            <h2>Team</h2>
            <h2>Forum</h2>
        </div>
        <a href=HomeView.html th:href="@{/}"><img src="../static/images/logo.png" th:src="@{/images/logo.png}"
                                                  alt="logo"></a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="HomeView.html" th:href="@{/}" th:text="#{navigation.home}">Home</a></li>
                <li><a href="About.html" th:href="@{/about}">About</a></li>
                <li><a href="PostsView" th:href="@{/posts}" th:text="#{navigation.posts}">Posts</a></li>
                <li><a href="contact.html" th:href="@{/users}">Users</a></li>
                <li><a href="" th:unless="${isAuthenticated}" th:href="@{/auth/login}">Sign In</a>
                <li><a href="#" th:href="@{/auth/logout}" th:if="${isAuthenticated}">Log Out</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
</section>
<div class="registration-body">
<div class="registration-container">
    <div class="registration-container-title" th:align="center">Registration Form</div>
    <form  th:action="@{/users/new}" th:object="${user}" method="post">
        <div class="user-details">
            <div class="input-box">
                <span class="user-details"></span>
                <input type="text" th:field="*{firstName}" placeholder="Enter your Fist Name" required>
            </div>
            <div class="input-box">
                <span class="user-details"></span>
                <input type="text" th:field="*{lastName}" placeholder="Enter your Last Name" required>
            </div>
            <div class="input-box">
                <span class="user-details"></span>
                <input type="text" th:field="*{email}" placeholder="Enter your Email" required>
            </div>
            <div class="input-box">
                <span class="user-details"></span>
                <input  type="text" th:field="*{username}" placeholder="Enter your Username" required>
            </div>
            <div class="input-box">
                <span class="user-details"></span>
                <input type="password" th:field="*{password}" placeholder="Enter your Password" required>
            </div>
        </div>
        <div class="button-container">
            <div class="button">
                <button type="submit">Register</button>
            </div>
        </div>
    </form>
</div>
</div>

<section class="footer">
    <p>Copyright &copy 2023 Team Rocket</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
</section>

<!--JavaScript for toggle menu-->
<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu() {
        navLinks.style.right = "0";
    }

    function hideMenu() {
        navLinks.style.right = "-200px";
    }
</script>
</body>
</html>