<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <title>Single Post</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body id="home-body">

<section class="sub-header">
    <nav>
        <div class="forum-name">
            <h2>Rocket</h2>
            <h2>Team</h2>
            <h2>Forum</h2>
        </div>
        <a href=HomeView.html th:href="@{/}"><img src="../static/images/logo.png" th:src="@{/images/logo.png}"
                                                  alt="logo"></a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="HomeView.html" th:href="@{/}" th:text="#{navigation.home}">Home</a></li>
                <li><a href="About.html" th:href="@{/about}">About</a></li>
                <li><a href="PostsView" th:href="@{/posts}" th:text="#{navigation.posts}">Posts</a></li>
                <li><a href="contact.html" th:href="@{/users}">Users</a></li>
                <li><a href="RegisterFormView.html" th:href="@{/users/new}" th:unless="${isAuthenticated}">Register</a></li>
                <li><a href="CreatePostView.html" th:href="@{/posts/new}" th:if="${isAuthenticated}">Create Post</a></li>
                <li><a href="" th:unless="${isAuthenticated}" th:href="@{/auth/login}">Sign In</a>
                <li><a href="#" th:href="@{/auth/logout}" th:if="${isAuthenticated}">Log Out</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
    <!--  <h1 th:text="${post.getTitle()}"></h1>-->
</section>

<!--single post view-->

<section class="single-post">
    <div class="single-post-container" th:object="${post}">
        <img class="profile-picture" src="../static/images/user.png" th:src="@{/images/user.png}"
             alt="Profile Picture">

        <h4 class="post-title" th:text="${post.getPostCreator().getUsername()}">Post Creator</h4>

        <a class="fa fa-trash" id="fa-trash" aria-hidden="true"
           th:if="${post.getPostCreator().equals(user) or user.isAdmin()}"
           th:href="@{'/posts/'+${post.getId()}+'/delete'}">
        </a>

        <h1 th:text="${post.getTitle()}">Post title</h1>
        <p th:text="${post.getContent()}">Post content shown here</p>

        <div class="button sp-likes">
            <a class="likes" th:href="@{'/posts/' + ${post.id} + '/like'}">
                <i class="fa fa-rocket" th:if="${post.getLikes().contains(user)}"> Likes:</i>
                <i class="fa fa-thumbs-up" th:unless="${post.getLikes().contains(user)}"> Likes:</i>
                <span th:text="${post.likeCounts}">Likes</span>
            </a>
        </div>
        <div class="sp-comments">
            <i class="fa fa-comment"> Comments:</i>
            <span th:text="${postComments.size()}">Comments</span>
        </div>
        <h5 class="tags" th:unless="${post.getTags().isEmpty()}">Tags:
            <span th:each="tag: ${post.getTags()}">
                            <span class="tag" th:text="${tag.name}"></span>
                        </span>
        </h5>
        <h5 class="tags" th:unless="${post.getTags().isEmpty()}">Tags:
            <span th:each="tag: ${post.getTags()}">
                            <span class="tag" th:text="${tag.name}"></span>
            </span>
        </h5>

        <button class="post-btn" id="add-comment" th:if="${isAuthenticated}">Add Comment</button>
        <button th:if="${post.getPostCreator().equals(user) or user.isAdmin()}" class="post-btn" id="edit-post">Edit
        </button>
    </div>
</section>


<!--display comments-->

<section class="comments">
    <div class="comment-container">
        <div class="single-comment" th:each="comment: ${postComments}">
            <div class="delete-comment">
                <a class="fa fa-trash" aria-hidden="true"
                   th:if="${comment.getUser().equals(user) or user.isAdmin()}"
                   th:href="@{'/posts/'+${post.getId()}+'/comment/'+${comment.getId()}+'/delete'}">
                </a>
            </div>

            <div class="edit-comment">
                <button class="button open-button" id="open">
                    <a class="add-update-btn" th:if="${comment.getUser().equals(user) or user.isAdmin()}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </button>
            </div>

            <p class="comment-content" th:text="${comment.getContent()}"></p>

            <p class="comment-author">Comment by: <span th:text="${comment.getUser().getUsername()}"></span></p>

<!--            DO NOT TOUCH-->
            <dialog class="edit-comment-balloon" th:if="${user.isAdmin() || comment.getUser().equals(user)}">
                <h2>Leave a comment</h2>
                <form id="comment-form-l" th:object="${comment}" th:action="@{'/posts/' + ${id} + '/comment' + '/' + ${comment.getId() + '/update'}}" >
                    <textarea id="comment-l" th:field="*{content}" maxlength="250" required></textarea>
                    <p class="symbol-counter"><span id="counter-l">0</span> / 250 characters</p>
                    <button class="post-btn" id="submit-l" th:action="@{'/posts/' + ${id} + '/comment' + '/' + ${comment.getId() + '/update'}}" style="position: relative">
                        Submit
                    </button>
                    <a class="post-btn" id="cancel-l">Cancel</a>
                </form>
            </dialog>
<!--            DO NOT TOUCH-->

        </div>
    </div>
</section>

<!------------------------------------------------------------------------------------------------------------------>
<dialog class="add-comment-balloon" th:if="${isAuthenticated}">
    <h2>Leave a comment</h2>
    <form id="comment-form" th:object="${comment}" th:action="@{'/posts/' + ${id} + '/comment'}" method="post">
        <textarea id="comment" th:field="*{content}" maxlength="250" required></textarea>
        <p class="symbol-counter"><span id="counter">0</span> / 250 characters</p>
        <button class="post-btn" id="submit" th:action="@{'/posts/' + ${id} + '/comment'}" style="position: relative">
            Submit
        </button>
        <a class="post-btn" id="cancel">Cancel</a>
    </form>
</dialog>

<!-- Add Comment Balloon Script -->
<script>
    const addCommentModals = document.querySelectorAll('.add-comment-balloon');
    const addCommentOpenButtons = document.querySelectorAll('#add-comment');
    const addCommentCloseButtons = document.querySelectorAll('#cancel');

    addCommentOpenButtons.forEach((openButton, index) => {
        openButton.addEventListener('click', () => {
            addCommentModals[index].showModal();
        });
    });

    addCommentCloseButtons.forEach((closeButton, index) => {
        closeButton.addEventListener('click', () => {
            addCommentModals[index].close();
        });
    });
</script>

<!-- Add Comment Character Counter Script -->
<script>
    const addCommentTextarea = document.getElementById('comment');
    const addCommentCounter = document.getElementById('counter');

    addCommentTextarea.addEventListener('input', updateAddCommentCounter);

    function updateAddCommentCounter() {
        const currentLength = addCommentTextarea.value.length;
        const maxLength = parseInt(addCommentTextarea.getAttribute('maxlength'));

        addCommentCounter.textContent = currentLength;

        if (currentLength > maxLength) {
            addCommentCounter.style.color = 'red';
        } else {
            addCommentCounter.style.color = 'black';
        }
    }
</script>

<!-- Update Comment Balloon Script -->
<script>
    const editCommentModals = document.querySelectorAll('.edit-comment-balloon');
    const editCommentOpenButtons = document.querySelectorAll('#open');
    const editCommentCloseButtons = document.querySelectorAll('#cancel-l');

    editCommentOpenButtons.forEach((openButton, index) => {
        openButton.addEventListener('click', () => {
            editCommentModals[index].showModal();
        });
    });

    editCommentCloseButtons.forEach((closeButton, index) => {
        closeButton.addEventListener('click', () => {
            editCommentModals[index].close();
        });
    });
</script>





<dialog class="edit-post-balloon" th:if="${post.getPostCreator().equals(user) || user.isAdmin()}">
    <h2>Leave a comment</h2>
    <form id="post-form" th:object="${post}" th:action="@{'/posts/' + ${id} + '/update'}" >
        <textarea id="post-title" th:field="*{title}" maxlength="64"  th:text="${post.title}"></textarea>
        <textarea id="post-content" th:field="*{content}"  maxlength="8192" ></textarea>
        <p class="symbol-counter"><span id="post-symbols-counter">0</span> / 8192 characters</p>
        <button class="post-btn" id="submit-edited-post" th:action="@{'/posts/' + ${id} + '/update'}" style="position: relative">
            Submit
        </button>
        <a class="post-btn" id="cancel-edited-post">Cancel</a>
    </form>
</dialog>

<!-- Add Comment Balloon Script -->
<script>
    const updatePostModals = document.querySelectorAll('.edit-post-balloon');
    const updatePostOpenButtons = document.querySelectorAll('#edit-post');
    const updatePostCloseButtons = document.querySelectorAll('#cancel-edited-post');

    updatePostOpenButtons.forEach((openButton, index) => {
        openButton.addEventListener('click', () => {
            updatePostModals[index].showModal();
        });
    });

    updatePostCloseButtons.forEach((closeButton, index) => {
        closeButton.addEventListener('click', () => {
            updatePostModals[index].close();
        });
    });
</script>










<section class="footer">
    <h4></h4>
    <p>Copyright &copy 2023 Team Rocket</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
</section>
</body>
</html>