<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="../static/images/logo.png" th:href="@{/images/logo.png}" type="image/x-icon">
  <title>Rocket Forum | Home</title>
</head>

<body>
<h2 class="single-post-title" th:text="${post.getTitle()}"></h2>
<div class="post">
  <div class="post-content">
    <p th:utext="${post.content}">Post Content</p>
  </div>
</div>
<p class="post-creator" th:text="'Posted by : ' + ${post.getPostCreator().getUsername()}" th:align="center">test</p>
<div class="button-container" th:if="${isAuthenticated}">
  <a th:unless="${post.getLikes().contains(user)}" th:href="@{'/posts/' + ${post.id} + '/like'}" class="like-button">Like</a>
  <a th:if="${post.getLikes().contains(user)}" th:href="@{'/posts/' + ${post.id} + '/dislike'}" class="dislike-button">Dislike</a>
  <a href="/" class="comment-button">Comment</a>
</div>

<section class="footer">
  <h4>About Us</h4>
  <p>Copyright &copy 2023 Team Rocket</p>
  <div class="icons">
    <i class="fa fa-facebook"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa fa-linkedin"></i>
  </div>
</section>

<!--JavaScript for toggle menu-->
<script>
  var navLinks = document.getElementById("navLinks");

  function showMenu() {
    navLinks.style.right = "0";
  }

  function hideMenu() {
    navLinks.style.right = "-200px";
  }
</script>
</body>
</html>