<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../static/images/logo.png" th:href="@{/images/logo.png}" type="image/x-icon">
    <title>Rocket Forum | All Posts</title>
<body id="home-body">
<section class="sub-header">
    <nav>
        <div class="forum-name">
            <h2>Rocket</h2>
            <h2>Team</h2>
            <h2>Forum</h2>
        </div>
        <a href=HomeView.html th:href="@{/}"><img src="../static/images/logo.png" th:src="@{/images/logo.png}"
                                                  alt="logo"></a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="HomeView.html" th:href="@{/}" th:text="#{navigation.home}">Home</a></li>
                <li><a href="About.html" th:href="@{/about}">About</a></li>
                <li><a href="PostsView" th:href="@{/posts}" th:text="#{navigation.posts}">Posts</a></li>
                <li><a href="contact.html" th:href="@{/users}">Users</a></li>
                 <li><a href="" th:unless="${isAuthenticated}" th:href="@{/auth/login}">Sign In</a>
                <li><a href="#" th:href="@{/auth/logout}" th:if="${isAuthenticated}">Log Out</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
    <h1>All Users</h1>
</section>
<div class="user-container">
    <div class="user-card" th:each="user : ${users}">
        <div th:if="${isAuthenticated}">
        <a  th:href="@{/users/{id}(id=${user.id})}" class="id-redirecting">
        </div>
        <img class="user-avatar" src="../static/images/user.png" th:src="@{/images/user.png}" alt="User 1">
        <h2 th:text="${user.username}">User 1</h2>
        </a>
    </div>
</div>


<section>
    <div class="pagination-container">
        <span th:text="'Page ' + ${currentPage} + ' of ' + ${totalPages}"></span>
        <ul class="pagination">
            <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                th:classappend="${currentPage == i} ? 'active' : ''">
                <a th:href="@{'/users?page=' + ${i}}" th:text="${i}"></a>
            </li>
        </ul>
    </div>
</section>


<section class="footer">
    <p>Copyright &copy 2023 Team Rocket</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
</section>

<!--JavaScript for toggle menu-->
<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu() {
        navLinks.style.right = "0";
    }

    function hideMenu() {
        navLinks.style.right = "-200px";
    }
</script>
</body>
</html>