* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*-----TOP BAR-----*/

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.forum-name {
    text-align: center;
    font-size: 20px;
    padding-right: 20px;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/*----- Welcome messages -----*/

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.hero-btn:hover {
    border: 1px solid black;
    background: black;
    transition: 1s;
}

nav .fa {
    display: none;
}

@media (max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: black;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}
/*ALL USERS START*/
.user-container {
    position: relative;
    display: -webkit-box;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 100px auto 50px auto;

}

.user-card {
    font-size: 10px;
    text-align: center;
    max-width: 180px; /* Increased max-width for larger cards */
    margin: 30px 20px 20px 20px;
    align-self: flex-start;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: white;
    padding: 30px;
    object-fit: contain;
    cursor: pointer;
}

.user-avatar {
    width: 120px; /* Increased avatar size */
    height: 120px; /* Increased avatar size */
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 10px;
}

@media screen and (min-width: 768px) {
    .user-container:nth-child(2n) {
        justify-content: flex-start;
    }
}

.user-card:hover{
    transform: scale(105%);
    transition: all .7s ease;
    box-shadow: 0px 0 20px 0px rgba(0, 0, 0, 1.6);
}
/*ALL USERS END*/

/*-----Most commented posts-----*/

.most-commented {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.most-commented title {
    font-size: 60px;
    font-weight: 600;
}

.main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 5%;
}

.posts-container {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: white;
    padding: 25px;
    cursor: pointer;
    height: 300px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.posts-container:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 1.6);
    transition: 0.7s;
}

.post-content {
    flex: 1;
    padding: 10px;
    height: 250px;
    overflow: hidden;
}

.posts-container img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.posts-container p {
    padding: 0;
}

.posts-container h4 {
    margin-top: 15px;
    text-align: left;
}

.posts-container .fa {
    color: black;
}

.post-footer {
    display: flex;
    align-items: center;
    padding: 10px;
}

.likes {
    flex: 1;
    padding-left: 10px;
    font-size: 20px;
}

.comments {
    flex: 1;
    padding-right: 20px;
    font-size: 20px;
    text-align: right;
}

/*.like-btn{*/
/*    display: inline-block;*/
/*    text-decoration: none;*/
/*    color: black;*/
/*    border: 1px solid #fff;*/
/*    background: transparent;*/
/*    position: relative;*/
/*    cursor: pointer;*/
/*}*/
/*.like-btn:hover{*/
/*    border: 1px solid black;*/
/*    background: darkgray;*/
/*    transition: 1s;*/
/*}*/

/*.comment-btn{*/
/*    display: inline-block;*/
/*    text-decoration: none;*/
/*    color: black;*/
/*    border: 1px solid #fff;*/
/*    background: transparent;*/
/*    position: relative;*/
/*    cursor: pointer;*/
/*}*/
/*.comment-btn:hover{*/
/*    border: 1px solid black;*/
/*    background: darkslateblue;*/
/*    transition: 1s;*/
/*}*/

/*----- Most Recent Posts -----*/

.most-recent {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.most-recent title {
    font-size: 60px;
    font-weight: 600;
}

/*------ Footer -----*/


.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa {
    color: black;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o {
    color: black;
}

/*----- Register -----*/

.register {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/banner.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 160px 0;
}

.register h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media (max-width: 700px) {
    .cta h1 {
        font-size: 24px;
    }
}

/*----- About page -----*/

.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: black;
}

.sub-header h1 {
    margin-top: 50px;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 1fr 50px;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.container h1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
}

.container img {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 6;

}

.container p {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.container a {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
}

.black-border {
    border: 1px solid black;
    background: transparent;
    color: black;
}

.black-border:hover {
    color: white;
}
/*LOGIN FORM START*/

.div-login {
    min-height: 50vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.form {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    border: 2px solid;
    border-radius: 7px;
    align-items: center;
    padding-top: 30px;
}

.form h4 {
    font-family: sans-serif, poppins;
    font-weight: bolder;
    font-size: 20px;
}

.form .login {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.login input, button {
    margin: 10px;
    padding: 10px 15px;
    border-radius: 60px;
    font-size: 16px;
    cursor: pointer;
}

.login button {
    background-color: dodgerblue;
    border-style: hidden;
    font-family: sans-serif, poppins;
    font-size: 17px;
    text-transform: uppercase;
}

.login button:active {
    transform: scale(0.95);
}


.login input {
    background-color: whitesmoke;
    border: none;
    letter-spacing: 1px;
    text-indent: 35px;
    background-image: url("/static/images/user.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px;
}

.login input:nth-child(2) {
    background-color: whitesmoke;
    border: none;
    text-indent: 35px;
    background-image: url("/static/images/password.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px;
}

.login input::placeholder {
    font-size: 14px;
}

.remember {
    width: 70%;
    display: flex;
    align-items: center;
    font-family: sans-serif;
}
/*LOGIN FORM END*/
/*PAGINATION CONTAINER START*/
.pagination-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.page-info {
    display: block;
    margin-bottom: 10px;
}

.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.pagination li {
    display: inline;
    margin: 0;
    padding: 0;
}

.pagination li a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #0099ff;
    color: #ffffff;
    border-radius: 5px;
    margin: 0 3px;
}
/*PAGINATION CONTAINER END*/
/*LINK TO ID*/
.id-redirecting {
    text-decoration: none;
    color: black;
}
/*LINK TO ID*/
/*---- REMOVES BLUE UNDERLINING ON LINKS---- */
a {
    text-decoration: none;
    color: black;
}
/*---- POST CONTENT STARTS HERE---- */
.single-post-content {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
}
/*---- POST COMMENT STARTS HERE---- */

.comment {
    width: auto;
    margin: 1%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
}
.comment-content {
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
}

.comment-author {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
}

.comment-author span {
    color: #333;
    font-weight: bold;
}
.custom-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.custom-button {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(12, 22, 66, 0.7)), url(../images/background.jpg);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
/*---- COMMENT FORM STARTS HERE----*/
.comment-form-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 100px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}

.comment-form-container label {
    font-weight: bold;
    margin-bottom: 50px;
    align-content: center;
}

.comment-form-container textarea {
    width: 80%;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 16px;
}

.comment-form-container button {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(12, 22, 66, 0.7)), url(../images/background.jpg);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/*----- Error page -----*/

.error {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.error p {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: center;
}

/*----- Contacts page -----*/

.contacts {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}
.contacts-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 180px;
    align-content: center;
}

.contacts-container h1 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
}

.bobi-pic{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 400px;
    height: 400px;
    border-radius: 15%;
    align-content: center;
    content: url("../images/borisprofile.png");
}
.bobi-pic:hover{
    content: url("../images/error.png");
}
.niki-pic {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 400px;
    height: 400px;
    border-radius: 15%;
    align-content: center;
    content: url("../images/niki.jpg");
}
.niki-pic:hover{
    content: url("../images/error.png");
}
.stoyan-pic{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 400px;
    height: 400px;
    border-radius: 15%;
    align-content: center;
    content: url("../images/borisprofile.png");
}
.stoyan-pic:hover{
    content: url("../images/error.png");
}

.bobi-info{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.bobi-info ul{
    text-align: left;
    list-style-type: none;
}
.bobi-info h3{
    text-align: center;
    padding: 20px 50px 20px 0;
}
.bobi-info li{
    padding-bottom: 10px;
}

.niki-info{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.niki-info ul{
    text-align: left;
    list-style-type: none;
}
.niki-info h3{
    text-align: center;
    padding: 20px 50px 20px 0;
}
.niki-info li{
    padding-bottom: 10px;
}
.stoyan-info{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}
.stoyan-info ul{
    text-align: match-parent;
    list-style-type: none;
}
.stoyan-info h3{
    text-align: center;
    padding: 20px 50px 20px 0;
}
.stoyan-info li{
   padding-bottom: 10px;
}