/*HEADER NAV BAR START*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color: #f1f5f9;
    --text-color: black;
    --main-color: #624bff;
    /*#624bff*/
}
body{
    min-height: auto;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#home-header{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    color: var(--text-color);
    font-size: 28px;
    margin-right: 3px;
}
.logo span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    margin: 0px 30px;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    transition: all .4s ease;
}
.navbar a:hover{
    color: var(--bg-color);
}
.navbar a.active{
    color: var(--bg-color);
}

.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right: 20px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.4s ease;
}
.main a:hover{
    color: var(--bg-color);
}

.user{
    display: flex;
    align-items: center;
}
.user i{
    color: var(--text-color);
    font-size: 28px;
    transition: .4s ease;
}
.user i:hover{
    color: var(--bg-color);
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}
@media (max-width: 1100px) {
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;

    }
}
@media (max-width: 1000px){
   #menu-icon{
       display: block;
   }
   .navbar{
       position: absolute;
       top: 100%;
       right: -100%;
       width: 270px;
       height: 29vh;
       background: var(--main-color);
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       border-radius: 10px;
       transition: all .4s ease;
   }
   .navbar a{
       display: block;
       margin: 12px 0;
       padding: 0px 25px;
       transition: all .4s ease;
   }
    .navbar a:hover{
        color: var(--bg-color);
        transform: translateY(10px);
    }
    .navbar a.active{
        color: var(--bg-color);
    }
    .navbar.open{
        right: 2%;
    }
}
/*HEADER NAV BAR END*/

footer {
    /*width: 100%;*/
    /*background-color: var(--bg-color);*/
    /*color: var(--text-color);*/
    text-align: center;
    /*padding: 10px;*/
    /*position: absolute; bottom: 0; left: 0; right: 0;*/
    position: relative;
    bottom: 50px;
    width: 100%;
    height: 1px;   /* Height of the footer */
}
/*FOOTER END*/

/*MOST COMMENTED START*/
.top-commented {
    font-family: Leelawadee, serif;
    min-height: 50vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.bodytest {
    background: transparent;
    border-radius: 10px;
    margin: 50px auto 100px auto; /* Added margin at the top */
    width: 80%; /* Adjust as needed */
    padding: 30px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 4px 4px 4px 4px lightgray;
}

.top-title {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-shadow: var(--text-color) 1px 0 2px;
}

.post-wrapper {
    width: 90%;
}

.post-container {
    display: grid;
    grid-template-columns: 40px 3fr 1fr 1fr;
    align-items: center;
    margin: 10px;
    border: 1px solid lightgray;
    top: 100px;
    padding: 3px;
    border-radius: 10px;
    text-align: center;
    border: none;
    box-shadow: 4px 4px 4px 4px lightgray;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.like{
    width: 25px;
    height: 25px;
}

.comment{
    width: 25px;
    height: 25px;
}

.comments-container, .like-container {
    display: flex;
    align-items: center;
    margin-left: auto; /* Push them to the right */
    margin-right: 10px; /* Adjust as needed */
}

.comment, .like-count, .comment-count {
    margin: 6px;
}

.comment-count {
    margin-top: 12px;
}
.like-count{
    margin-top: 12px;
}

.post-title {
    color: var(--main-color);
    font-family: Poppins,sans-serif, poppins;
    text-align: left;
    font-size: 1.1em;
    font-weight: bolder;
    margin-left: 60px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*MOST COMMENTED END*/
/*LOGIN FORM START*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, poppins;
}

.div-login {
    min-height: 50vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.form {
 width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 7px;
    align-items: center;
    padding-top: 30px;
    box-shadow: 4px 4px 4px 4px lightgray;
}

.form h4 {
    font-family: sans-serif, poppins;
    font-weight: bolder;
    font-size: 20px;
}
.form .login {
    display: flex;
    flex-direction: column;
    width: 85%;
}
.login input, button{
    margin: 10px;
    padding: 10px 15px;
    border-radius: 60px;
    font-size: 16px;
    cursor: pointer;
}

.login button{
    background-color: var(--main-color);
    border-style: hidden;
    font-family: sans-serif, poppins;
    font-size: 17px;
    text-transform: uppercase;
    box-shadow: 4px 4px 4px 4px lightgray;
}

.login button:active{
    transform: scale(0.95);
}


.login input{
    background-color: whitesmoke;
    border: crimson;
    letter-spacing: 1px;
    text-indent: 35px;
    background-image: url("/static/images/user.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px;
    box-shadow: 4px 4px 4px 4px lightgray;
}

.login input:nth-child(2){
    background-color: whitesmoke;
    border: none;
    text-indent: 35px;
    background-image: url("/static/images/password.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px;
}
.login input::placeholder {
    font-size: 14px;
}
.remember {
    width: 50%;
    display: flex;
    align-items: center;
    font-family: sans-serif;
}
/*LOGIN FORM END*/

.pagination-container {
    text-align: center;
    margin-top: 20px;
}

.page-info {
    display: block;
    margin-bottom: 10px;
}

.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.pagination li {
    display: inline;
    margin: 0;
    padding: 0;
}

.pagination li a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #0099ff;
    color: #ffffff;
    border-radius: 5px;
    margin: 0 3px;
}